/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-color: rgb(36, 46, 56);
  height: 100vh; /* Ensure the body takes the full height of the screen */
}

.wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background: rgba(39, 39, 39, 0.4);
  width: 95vw;
  height: 100vh;
  border-radius: 1%;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
  z-index: 100;
}

.nav-logo p {
  color: white;
  font-size: 25px;
  font-weight: 700;

}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover, .active {
  border-bottom: 2px solid #fff;
}

/* About Us Container */
.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; 
  text-align: center; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  border: 2px solid #000; 
  max-width: 800px; 
  height: 70vh; 
  margin: 20%; 
  color: #000; 
  overflow-y: auto;
}

.about-us-header {
  margin-bottom: 10px; 
}

.about-us-header h1 {
  font-size: 28px;
  font-weight: 500;
}

.about-us-content {
  margin-top: 10px; 
}

.about-us-content h2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px; 
}

.about-us-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px; 
}

.about-us-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-us-footer {
  text-align: center;
  margin-top: 10px; 
}

.about-us-footer p {
  font-size: 14px;
}
